/*-- tag --------------------------------------------- */
.tag {
  padding: 0px;
  height: 90px;
  text-decoration: none;
}

.tag-header {
  margin-bottom: 30px;
  border-bottom: solid 1px #337ab7;
  height: 40px;
  color: white;
  color: #337ab7;
  font-size: 30px;
  font-weight: 400;
}

.tag-name {
  margin: 10px 0;
  width: 100%;
  height: 40px;
  text-align: center;
  background: #70ADF3;
  color: white;
  font-size: 30px;
  font-weight: 200;
}

.tag-project {
  height: 10px;
  text-align: center;
}
